<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="title" content="Orinoco">
  <meta name="robots" content="index, follow">

  <title>Orinoco - Panier</title>
<!-- Bootstrap CDN -->
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"
>

<!-- FontAwesome CDN -->
<script src="https://kit.fontawesome.com/1bf285f825.js" crossorigin="anonymous"></script>

<!-- Custom Stylesheet-->
<link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
  <!--HEADER -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-12 pt-3">
          <a href="/">
            <img src="../images/logo.png" alt="logo" class="rounded"/>
          </a>
        </div>
        <div class="col-md-4 col-12 text-center">
          <a href="/" class="text-decoration-none">
            <h1 class="my-md-3 site-title text-white">Orinoco</h1>
          </a>
        </div>
        <div class="col-md-4 col-12 text-right">
          <p class="my-md-4 header-links">
            <a href="/cart"><i class="fas fa-shopping-basket p-1"><span class="cart-counter" id="cartCounterID"> 0</span></i></a>
          </p>
        </div>
      </div>
    </div>
  </header>
  <!-- /HEADER-->

  <!--MAIN-->

  <div class="container container-fluid card-products m-5">
    <div class="order-table" style="display: none">
      <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody class="table-body text-center"> 
      </tbody>
      </table>
      <hr>
      <div class="text-right">
       <span class="total-price"></span>
      </div>
      <div class="row py-5 text-center">
        <div class="col">
          <a href="/" class="btn btn-success">Continuer vos achats</a>
        </div>
        <div class="col">
          <button id='validateButton' class="btn btn-success" style="display: none;">Valider votre panier</button>
        </div>
      </div>
    </div>
    <div class="alert alert-info text-center" style="display: block">
     <h3>Il n'y a aucun produit dans votre panier</h3>
    </div>

  </div>
  <div class="container container-fluid">
    <div id="contactInformationFieldsId" class="row py-5">
      <form action="/confirmation" method="POST">
        <h4>Veuillez remplir vos informations</h4>
        <div class="form-row py-5">
          <div class="form-group col-md-6">
            <label for="inputFirstName">Prénom</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Prénom" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Nom</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Nom" required>
          </div>
          <div class="form-group col-12">
            <label for="inputAddress">Adresse</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 avenue" required>
          </div>
          <div class="form-group col-12">
            <label for="inputCity">Ville</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Paris" required>
          </div>
          <div class="form-group col-12">
            <label for="inputEmail">Adresse Électronique</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com" required>
          </div>
        </div> 
        <button type="submit" class="btn btn-primary submit">Confirmer votre commande</button>     
      </form>
    </div>
  </div>
  <!--/MAIN-->
  <!--FOOTER-->
  <footer class='page-footer fixed-bottom'>
    <div class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="list-inline text-center">
              <li class="list-inline-item"><a href="#">Conditions générales</a></li>
              <li class="list-inline-item">&middot;</li>
              <li class="list-inline-item"><a href="#">Vos informations personnelles</a></li>
              <li class="list-inline-item">&middot;</li>
              <li class="list-inline-item"><a href="mailto:rana_marashi@hotmail.com">Contact-nous</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
   <script src="/assets/js/cart.js"></script>
   <script src="/assets/js/order.js"></script>
   <script src="/assets/js/contact.js"></script>
   <!---->
   <script>
       const cart = new Cart('.order-table')
       const contact = new Contact('#contactInformationFieldsId',cart) 
       cart.displayProducts('.card-products')
       const order = new Order( cart, '.order-table',contact)
       //order.fetchOrder();
   </script>
</body>
</html>